{% extends "base.html" %}
{% load static %}
{% block title %}検索結果{% endblock %}

{% block content %}
<h1>{{ data }}の検索結果<h1>

<div class="row">
    <div class="col float-start">
        {% for item in data %}
        <a href="/nagoyameshi/detail/{{item.id}}" class="btn w-25">        
            <div class="card" style="max-width: 25rem">
                <img src="{{item.image.url}}" class="card-img-top" alt="画像無し" style="height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h3 class="card-title">{{ item.name }}</h3>
                    <p class="card-text">{{ item.genre }}</p>
                </div>
            </div>  
        </a>
        {% endfor %}
    </div>
</div>
<div class="clearfix"></div>
<a href="{% url 'top' %}">TOP</a>
{% endblock content %}

{% comment %}
    <table>
        <tr><th>店舗名</th></tr>
    {% for item in data %}
        <tr>
            <th>{{item.name}}</th>
            <th><a href="/nagoyameshi/detail/{{item.id}}">詳細</a></th>
        </tr>
    
    </table>
{% endcomment %}
