{% extends "base.html" %}
{% load static %}
{% block title %}検索結果{% endblock %}

{% block content %}
<a href="{% url 'nagoyameshi:top' %}">TOP</a>
<h3>{{ data }}の検索結果</h3>
<div class="row">
    <div class="col mx-auto">
        {% for item in data %}
        <a href="/nagoyameshi/detail/{{item.id}}" class="btn w-25 text-nowrap">
            <div class="card" style="max-width: 25rem">
                <img src="{{item.image.url}}" class="card-img-top" alt="画像無し" style="height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h3 class="card-title">{{ item.name }}</h3>
                    <p class="card-text">
                        {% for genre in item.genre.all %}
                        {{ genre }}
                        {% endfor %}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<div class="clearfix"></div>

{% endblock content %}