
{% extends "base.html" %}
{% load static %}
{% block title %}{{ shop.name }}店舗詳細{% endblock %}

{% block content %}
<a href="{% url 'nagoyameshi:top' %}">TOP</a>
<div class="container w-75">
  <div class="row text-center">
    <h1 class="col text-center">{{shop.name}}</h1>
  </div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">トップ</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">レビュー</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="reserve-tab" data-bs-toggle="tab" data-bs-target="#reserve" type="button" role="tab" aria-controls="reserve" aria-selected="false">予約</button>
    </li>
  </ul>
    
    <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active text-center" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <img class="card-img-top" src="{{shop.image.url}}">
        <div class="row border-bottom">
          <div class="col">店舗名</div>
          <div class="col">{{shop.name}}</div>
        </div>
        <div class="row border-bottom">
          <div class="col">ジャンル</div>
          <div class="col">
            {% for genre in shop.genre.all %}
            {{ genre }}
            {% endfor %}
          </div>
        </div>
        <div class="row border-bottom">
          <div class="col">電話番号</div>
          <div class="col">{{shop.phonenumber}}</div>
        </div>
        <div class="row border-bottom">
          <div class="col">住所</div>
          <div class="col">{{shop.address}}</div>
        </div>
        <div class="row border-bottom">
          <div class="col">最寄り駅</div>
          <div class="col">{{shop.neareststation}}</div>
        </div>
        <div class="row border-bottom">
          <div class="col">開業日</div>
          <div class="col">{{shop.openingdate}}</div>
        </div>
        <div class="row border-bottom">
          <div class="col">席数</div>
          <div class="col">{{shop.seats}}席</div>
        </div>
        <div class="row border-bottom">
          <div class="col">営業時間</div>
          <div class="col">{{shop.opening_time}} ~ {{shop.closing_time}}</div>
        </div>
        <div class="row border-bottom">
          <div class="col">予算</div>
          <div class="col">{{shop.budget_min}} ~ {{shop.budget_max}}円</div>
        </div>
        <div class="row border-bottom">
          <div class="col">定休日</div>
          <div class="col">
            {% for dayofweek in shop.day_of_week.all %}
            {{ dayofweek }}
            {% endfor %}
          </div>
        </div>
        <div class="row border-bottom">
          <div class="col">こだわり条件</div>
          <div class="col">
            {% for cond in shop.condition.all %}
            {{ cond }}
            {% endfor %}
          </div>
        </div>
    </div>
    <div class="tab-pane" id="review" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div class="row">
        <form>
        {% csrf_token %}
          <label>評価</label>
          <select class="form-control" name="score">
            <option value="1">★（もう行かない）</option>
            <option value="2">★★</option>
            <option value="3">★★★（普通）</option>
            <option value="4">★★★★</option>
            <option value="5">★★★★★（また行きたい）</option>
            {% comment %}for文で表示
            {% for choice in review.score.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
            {% endcomment %}
          </select>
          <label>コメント</label>
          <textarea class="form-control" name="text" roes="3"></textarea>
          <div class=text-center>
            <input type="hidden" name="detail" value="{{ shop.id }}">
            <button type="submit" class="btn btn-secondary">投稿する</button>
          </div>
        </form>
      </div>
    </div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab" tabindex="0">
      
    </div>
  </div>
</div>
{% endblock content %}