
<!doctype html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="名古屋の飲食店を紹介します。">
        <meta name="author" content="TAKAHIRO TACHIZAKI">
        <title>NAGOYAMESHI</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous" defer></script>
        <link href = {% static "nagoyameshi/style.css" %} rel="nagoyameshi">
    </head>
    <body>
        <nav class="navbar">
            <div class="container">
                <a>NAGOYAMESHI</a>
            </div>
            <div class="navbar-toggloer" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <input type="checkbox" id="hamburger_btn_check">
                <label for="hamburger_btn_check" class="hamburger_btn">
                  <img class="btn_open" src="{% static 'imges/button_open.png' %}" alt="ナビゲーションバーのボタン">
                  <img class="btn_close" src="{% static 'nagoyameshi/images/button_close.png' %}" alt="ナビゲーションバーのボタン">
                </label>
            </div>
        </nav>
        
        <div id="myCarousel" class="carousel" data-ba-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="myCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="myCarousel" data-bs-slide-to="2"></li>
                <li data-bs-target="myCarousel" data-bs-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img="{% static 'static/nagoyameshi/images/top1.jpg' %}}" alt="サンプル"
                </div>
            </div>
        </div>
    </body>
</html>
