a {
  text-decoration: none;
} 
 
/* Bootstrapのボタンに初期設定されている周囲のborder（枠線）を消す */
.navbar-toggler {
  padding: 0 !important;
  border: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}


/* -----カルーセル----- */
/* carousel-itemの高さを32remに指定 */
.carousel-item {
  height: 45rem;
}
/*carousel-item直下の子要素imgタグに設定 */
.carousel-item>img {
  /* 絶対位置を指定 */
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;

  /* 高さはcarousel-itemに揃える */
  height: 100%;
}
