{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous" defer></script>
    <!-- Your custom styles if any -->
    <link rel="stylesheet" type="text/css" href="{% static 'nagoyameshi/css/style.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'top' %}">NAGOYAMESHI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {% if request.user.is_authenticated %}
                    <span class="navbar-text">ようこそ{{ user.get_username }}さん</span>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
                    </li>
                    {% else %}
                    <li class="nav-item px-2">
                        <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                    </li>    
                    <li class="nav-item px-2">
                        <a class="nav-link my_nav_link my-2" href="#member">会員登録</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page content -->
    <div class="container mt-4">
        {% block content %}
            {# This is where the content of each page will go #}
        {% endblock %}
    </div>

    <!-- Bootstrap JS and dependencies -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
    <!-- Your custom scripts if any -->
    <script>
        // Add your custom scripts here
    </script>
</body>
</html>
