

/* Bootstrapのボタンに初期設定されている周囲のborder（枠線）を消す */
.navbar-toggler {
    padding: 0 !important;
    border: none;
  }
  
  /* ハンバーガーボタンがチェック状態である（押されている）とき、閉じるボタン（×）を表示する */
  #hamburger_btn_check:checked~.hamburger_btn .btn_close {
    display: block;
  }
  
  /* ハンバーガーボタンがチェック状態である（押されている）とき、ハンバーガーボタンを表示しない */
  #hamburger_btn_check:checked~.hamburger_btn .btn_open {
    display: none;
  }
  
  /* 最初に表示した時は、閉じるボタン（×）は表示しない */
  .btn_close {
    display: none;
  }
  
  /* ハンバーガーボタンが押されているかを判断するためのチェックボックスは隠す */
  #hamburger_btn_check {
    display: none;
  }