#hamburger_btn_check:checked~.hamburger_btn .btn_close {
    display: block;
  }

#hamburger_btn_check:checked~.hamburger_btn .btn_open {
    display: none;
  }


.carousel-item {
    height: 20rem;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}